{% extends 'layout.html' %}
{% load static %}



{% block head %}
    <!--MY CSS-->
    <link rel="stylesheet" href="{% static 'css/secretarias.css' %}">
    <!--DATA TABLE JS-->
    <script src="{% static 'data/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'data/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'data/js/dataTables.rowReorder.min.js' %}"></script>
    <script src="{% static 'data/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'data/js/my-dataTable.js' %}"></script>
    <!--DATA TABLE CSS-->
    <link rel="stylesheet" href="{% static 'data/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'data/css/rowReorder.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'data/css/responsive.dataTables.min.css' %}">
    <!--SWEET ALERT-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!--MY JAVASCRIPT-->
    <script src="{% static 'js/elimin.js' %}"></script>
{% endblock %}



{% block body %}
    <a href="{% url 'INGRESO:inicio' %}" class="icono-arrow"><i class="fas fa-arrow-alt-circle-left"></i></a>
    <h1 class="titulo">Lista de turnos</h1>
    <div class="table-container">
        <table id="example" class="display wrap" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in turnos %}
                <tr>
                    <td>{{registro.nombre}}</td>
                    <td>{{registro.apellido}}</td>
                    <td>{{registro.doctor}}</td>
                    <td>{{registro.fecha}}</td>
                    <td>
                        <li><a href="{% url 'INGRESO:editar' registro.id %}"><i class="fas fa-edit"></i></a>    <a href="#" onclick=" eliminar({{ registro.id }})" ><i class="fas fa-trash-alt"></i></a></li>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}