{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <!--MY CSS-->
    <link rel="stylesheet" href="{% static 'css/secretarias.css' %}">
    <!--DATA TABLE JS-->
    <script src="{% static 'data/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'data/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'data/js/dataTables.rowReorder.min.js' %}"></script>
    <script src="{% static 'data/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'data/js/my-dataTable.js' %}"></script>
    <!--DATA TABLE CSS-->
    <link rel="stylesheet" href="{% static 'data/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'data/css/rowReorder.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'data/css/responsive.dataTables.min.css' %}">
{% endblock %}

{% block body %}
    
    <a href="{% url 'INGRESO:listaPacientesDoc2' %}" class="icono-arrow"><i class="fas fa-arrow-alt-circle-left"></i></a>
    <h1 class="titulo">Historial de {{ paciente.nombre }} {{paciente.apellido}}</h1>
    <div class="icono-agregar-container">
        <a href="{% url 'INGRESO:agregar_historiaDoc2' paciente.id %}"><i class="fas fa-plus-circle"></i> Agregar</a>
    </div>
    <table id="example" class="display wrap" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Historia</th>
            </tr>
        </thead>
        <tbody>
            {% for histori in historial %}
            <tr>
                <td>{{histori.fecha}}</td>
                <td>{{histori.historia}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}