
form{
    text-align: center;
}

/*/////////////////// historialDoc1.html */

/* texto superior al lado de flecha */

.top-text{
    font-size: calc(1vw + 20px);
    margin-top:1cm;
    font-weight: bold;
}

/* icono flecha volver atras */

.icono-arrow{
    margin-top: 1cm;
    font-size: calc(1vw + 30px);
    text-decoration: none;
    color:white;
    padding:0px 15px;
}
.icono-arrow>i{
    color:white;
    transition:all 1s;
}
.icono-arrow>i:hover{
    transform: scale(1.5);
}

/* icono plus agregar*/

.icono-plus{
    font-size: 20px;
    text-decoration:none;
    color:white;
    padding:7px 15px;
    border-radius: 35px;
    border:2px solid white;
    background: rgb(9, 192, 238);
    margin-left:1cm;
    transition:all 0.5s;
}
.icono-plus:hover{
    color:white;
    padding:7px 25px;
    margin-bottom:2cm;
}
.icono-plus>i{
    color:red;
}

/* table */

#myTable{
    margin-top:1cm;
}


@media all and (max-width:600px){

    .top-text{
        font-size: calc(1vw + 10px);
    }



}




/*   asignarPaciente.html    ///////////////////////////////////////////////*/

.asignar-titulo-container{
    width:100%;
    height:2cm;
    
}

.asignar-titulo-container>div{
    width: 50%;
    height: 100%;
    margin:auto;
    display: table;
}

.asignar-titulo-container>div>h1{
    display: table-cell;
    vertical-align: middle;
}


/*   lista-turnos.html     /////////////////////////////////////////////////////////////*/

.table-container{
    width:100%;
}

.table-container>ul{
    width: 100%;
}
.myTable{
    width:50%;
}

@media only screen and(max-width:400px){
    
    .top-text{
        font-size: calc(1vw + 21px);
    }

    .icono-arrow{
        font-size: calc(1vw + 29px);
    }


}


